.header-footer{
    background-color:green;
}
.central{
    text-align:center;
}
#paddingo{
    padding:5px auto;
    margin:0 auto;
  
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
 .vertical-write{
    
    word-wrap: break-word;
  
 }
 .words-header{
    font-size:8vw ;
    text-align: center;

 }
 .words-body{
    font-size:6vw ;
 }

 .blinking {
    animation: blinker 0.5s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    
    }
    75%{background-color:green}
    100%{background-color:red}
  }

  .blinking-sidebar {
    animation: blinker 0.7s step-start infinite;
  }
  
  @keyframes blinker {
      25%{
          background-color:blueviolet
      }
    50% {
      opacity: 0;
    
    }
    75%{background-color:yellow}
    100%{background-color:greenyellow}
  }
 
  .blinking-topbar {
    animation: blinker 0.4s step-start infinite;
  }
  
  @keyframes blinker {
      10%{
          background-color:red
      }
    50% {
      opacity: 0;
    
    }
    70%{background-color:blue}
    90%{background-color:brown}
  }
 